[submodule "javascript/vue_/vuejs_training"]
	path = javascript/vue_/vuejs_training
	url = https://github.com/sreegithub19/vuejs_training.git
	branch = master
[submodule "Python/flask_/vercel_flask_app"]
	path = Python/flask_/vercel_flask_app
	url = https://github.com/sreegithub19/vercel_flask_app.git
	branch = master
[submodule "javascript/angular_/my_angular_app"]
	path = javascript/angular_/my_angular_app
	url = https://github.com/sreegithub19/my_angular_app.git
	branch = master
[submodule "javascript/nest_/nestjs_app"]
	path = javascript/nest_/nestjs_app
	url = https://github.com/sreegithub19/nestjs_app.git
	branch = master
[submodule "javascript/next_/nextjs_app"]
	path = javascript/next_/nextjs_app
	url = https://github.com/sreegithub19/nextjs_app.git
	branch = main
[submodule "javascript/react_/my_react_app"]
	path = javascript/react_/my_react_app
	url = https://github.com/sreegithub19/my_react_app.git
	branch = master
[submodule "javascript/express_/express_vercel_app"]
	path = javascript/express_/express_vercel_app
	url = https://github.com/sreegithub19/express_vercel_app.git
	branch = master
[submodule "javascript/vue_/vue_project"]
	path = javascript/vue_/vue_project
	url = https://github.com/sreegithub19/vue_project.git
	branch = master
[submodule "javascript/express_/JavaScript-Applications"]
	path = javascript/express_/JavaScript-Applications
	url = https://github.com/sreegithub19/JavaScript-Applications.git
	branch = main
[submodule "typescript/solid_/solid_app"]
	path = typescript/solid_/solid_app
	url = https://github.com/sreegithub19/solid_app.git
	branch = main
[submodule "Python/ML_AI/upgrad"]
	path = Python/ML_AI/upgrad
	url = https://github.com/sreegithub19/upgrad.git
	branch = main
[submodule "javascript/ionic__/ionic_app"]
	path = javascript/ionic__/ionic_app
	url = https://github.com/sreegithub19/ionic_app.git
	branch = main
[submodule "javascript/app_clones/whatsapp-2"]
	path = javascript/app_clones/whatsapp-2
	url = https://github.com/sreegithub19/whatsapp-2.git
	branch = master
[submodule "javascript/app_clones/jspaint"]
	path = javascript/app_clones/jspaint
	url = https://github.com/sreegithub19/jspaint.git
	branch = master
[submodule "javascript/app_clones/Video-Meeting"]
	path = javascript/app_clones/Video-Meeting
	url = https://github.com/sreegithub19/Video-Meeting.git
	branch = master
[submodule "javascript/app_clones/google-translate-clone"]
	path = javascript/app_clones/google-translate-clone
	url = https://github.com/sreegithub19/google-translate-clone.git
	branch = master
[submodule "javascript/app_clones/codepen"]
	path = javascript/app_clones/codepen
	url = https://github.com/sreegithub19/codepen.git
	branch = master
[submodule "javascript/app_clones/App_clones"]
	path = javascript/app_clones/App_clones
	url = https://github.com/sreegithub19/App_clones.git
	branch = main
[submodule "Python/django_/vercel_django_example1"]
	path = Python/django_/vercel_django_example1
	url = https://github.com/sreegithub19/vercel_django_example1.git
	branch = main
