[submodule "javascript/vue_/vuejs_training"]
	path = javascript/vue_/vuejs_training
	url = https://github.com/sreegithub19/vuejs_training.git
	branch = master
	# https://vuejs-training.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222188722-2cdfd352-51ba-4c5d-8b3a-aff3e742197a.mp4
[submodule "javascript/vue_/vuejs_training_typescript"]
	path = javascript/vue_/vuejs_training_typescript
	url = https://github.com/sreegithub19/vuejs_training.git
	branch = typescript
	# https://vuejs-training-2bd4s4iu3-sreegithub19.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222189612-b888b9d0-fcef-4f9f-9581-11254ddd77ad.mp4
[submodule "Python/flask_/vercel_flask_app"]
	path = Python/flask_/vercel_flask_app
	url = https://github.com/sreegithub19/vercel_flask_app.git
	branch = master
	# https://flask-vercel-1-sand.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222208210-5677c17c-fc11-4303-9a15-1374fef650bd.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222208234-ed848685-f20c-4a86-9da3-06b42a2c2299.mp4
	###
[submodule "javascript/angular_/my_angular_app"]
	path = javascript/angular_/my_angular_app
	url = https://github.com/sreegithub19/my_angular_app.git
	branch = master
	# https://my-angular-app-rust.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222205692-e5c91b9c-ac81-4d95-8b31-b265b1eb1575.mp4
[submodule "javascript/angular_/my_angular_app_main"]
	path = javascript/angular_/my_angular_app_main
	url = https://github.com/sreegithub19/my_angular_app.git
	branch = main
	# https://my-angular-q3ir60od6-sreegithub19.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222205929-e920b964-548f-43fe-9343-98a7f0401b1a.mp4
[submodule "javascript/nest_/nestjs_app"]
	path = javascript/nest_/nestjs_app
	url = https://github.com/sreegithub19/nestjs_app.git
	branch = master
	# https://nestjs-now-nine-olive.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/219962373-01ca79b7-a247-4839-9994-9c540bdd402d.mp4
[submodule "javascript/next_/nextjs_app"]
	path = javascript/next_/nextjs_app
	url = https://github.com/sreegithub19/nextjs_app.git
	branch = main
	# Related pages:
		# https://nextjs-sreegithub19.vercel.app/hello
		# Golang applications: https://nextjs-sreegithub19.vercel.app/api/applications
	# https://nextjs-sreegithub19.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222212597-f4025ba5-d077-4895-bc87-539931582f7a.mp4
[submodule "javascript/next_/nextjs_app_typescript"]
	path = javascript/next_/nextjs_app_typescript
	url = https://github.com/sreegithub19/nextjs_app.git
	branch = typescript
	# https://nextjs-a96gk3vig-sreegithub19.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222212901-3bd8a9d7-d1cb-45cc-9e56-e96282ea65a1.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222212922-8cfddef9-59c4-4d32-85f0-d14f8c7be4b6.mp4
	###
[submodule "javascript/next_/nextjs_app_ts_js"]
	path = javascript/next_/nextjs_app_ts_js
	url = https://github.com/sreegithub19/nextjs_app.git
	branch = ts_js
	# https://nextjs-git-tsjs-sreegithub19.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222213291-4996342f-5a55-4263-802d-38e2719a6aab.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222213309-0073403f-78ad-4acf-b66a-64659570b89a.mp4
	###
[submodule "javascript/react_/my_react_app"]
	path = javascript/react_/my_react_app
	url = https://github.com/sreegithub19/my_react_app.git
	branch = master
	# https://my-react-app-one-sigma.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222191518-85d7202b-fa88-4f94-97eb-944506b5c0ec.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222191537-960f7c15-12db-481c-a032-d2fcd1c82fe8.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222191556-b84973c3-e8d2-447b-a480-2e3746994a9b.mp4
	###
[submodule "javascript/react_/my_react_app_main"]
	path = javascript/react_/my_react_app_main
	url = https://github.com/sreegithub19/my_react_app.git
	branch = main
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222205203-34eaac6d-22de-409e-9ff0-d6bb34b65cc3.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222205225-81996aef-5829-4168-a25a-5331000aa77e.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222205239-66bad1ff-770c-4985-be63-0355d57e9af9.mp4
	###
	# https://my-react-ouhg5z0db-sreegithub19.vercel.app/
[submodule "javascript/express_/express_vercel_app"]
	path = javascript/express_/express_vercel_app
	url = https://github.com/sreegithub19/express_vercel_app.git
	branch = master
	# https://express-vercel-app-xi.vercel.app/
	###
	#Video: 
	#Part 1:https://user-images.githubusercontent.com/55496113/222186415-39768340-1116-413d-956d-ef40d5265935.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222186432-73246f37-888b-4f2a-ad35-6a44669233c5.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222186445-d84b5a41-9c59-4d9b-933e-51456427e6a9.mp4
	###
[submodule "javascript/vue_/vue_project"]
	path = javascript/vue_/vue_project
	url = https://github.com/sreegithub19/vue_project.git
	branch = master
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222188144-579838b8-5aa2-40b3-b9bc-9aa4f8425eb7.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222188169-4598f9b6-d14d-4a9e-9688-c00257b2b04b.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222188181-e3fb8911-49c5-4c82-9671-0ccd6edc1e8b.mp4
	###
	# http://vue-project-liart.vercel.app/
[submodule "javascript/express_/JavaScript-Applications"]
	path = javascript/express_/JavaScript-Applications
	url = https://github.com/sreegithub19/JavaScript-Applications.git
	branch = main
	# https://serene-stream-98532.herokuapp.com/     (this will not work now since Heroku has terminated free tier for hosting webapps)
[submodule "typescript/solid_/solid_app"]
	path = typescript/solid_/solid_app
	url = https://github.com/sreegithub19/solid_app.git
	branch = main
	# http://solid-app-alpha.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222206719-d38e3cba-c537-4454-aabf-2a54748bd906.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222206739-0734c767-515e-4983-aaf8-6ae063ac1304.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222206754-811f8975-0191-47a8-afe9-a66f7be50d81.mp4
	###
# [submodule "Python/ML_AI/upgrad"]
# 	path = Python/ML_AI/upgrad
# 	url = https://github.com/sreegithub19/upgrad.git
# 	branch = main
[submodule "javascript/ionic__/ionic_app"]
	path = javascript/ionic__/ionic_app
	url = https://github.com/sreegithub19/ionic_app.git
	branch = main
	# https://ionic-app-nu.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222206305-db738ef9-cbac-4b45-b2a5-a571f12c64f9.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222206326-40b73e00-22cc-4dbb-9e63-46f786b9f611.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222206345-d784a940-54a4-4a68-9751-2b70c91574b6.mp4
	###
# Not working
[submodule "javascript/app_clones/whatsapp-2"]
	path = javascript/app_clones/whatsapp-2
	url = https://github.com/sreegithub19/whatsapp-2.git
	branch = master
	# http://whatsapp-2-gold.vercel.app/
[submodule "javascript/app_clones/jspaint"]
	path = javascript/app_clones/jspaint
	url = https://github.com/sreegithub19/jspaint.git
	branch = master
	# https://jspaint-rosy.vercel.app/#local:dc7b637dd8b02
# Not working (multiple screens not coming for multiple users)
[submodule "javascript/app_clones/Video-Meeting"]
	path = javascript/app_clones/Video-Meeting
	url = https://github.com/sreegithub19/Video-Meeting.git
	branch = master
	# https://video-meeting-2.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222215213-5d76f153-d9aa-46b8-9fbf-13a32904190f.mp4
[submodule "javascript/app_clones/google-translate-clone"]
	path = javascript/app_clones/google-translate-clone
	url = https://github.com/sreegithub19/google-translate-clone.git
	branch = master
	# https://google-translate-clone.vercel.app/
[submodule "javascript/app_clones/codepen"]
	path = javascript/app_clones/codepen
	url = https://github.com/sreegithub19/codepen.git
	branch = master
	# https://codepen-jade.vercel.app/
[submodule "javascript/app_clones/App_clones"]
	path = javascript/app_clones/App_clones
	url = https://github.com/sreegithub19/App_clones.git
	branch = main
[submodule "Python/django_/vercel_django_example1"]
	path = Python/django_/vercel_django_example1
	url = https://github.com/sreegithub19/vercel_django_example1.git
	branch = main
	# https://vercel-django-example1.vercel.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222208872-fa49f89c-fb8a-4f10-a7cd-c5bc45cd341c.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222208903-d9be5d03-477f-4e8e-b8d9-fde50ed72255.mp4
	###
[submodule "javascript/koa_/koa_project"]
	path = javascript/koa_/koa_project
	url = https://github.com/sreegithub19/koa_project.git
	branch = main
	# http://koa-project-one.vercel.app/
[submodule "typescript/koa_/koa_project"]
	path = typescript/koa_/koa_project
	url = https://github.com/sreegithub19/koa_project.git
	branch = typescript
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222214457-a972a3d1-d3c6-4b83-a250-72aa8fd573c9.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222214472-3781388e-6dc5-405d-8554-5a1c9fa74cfb.mp4
	###
	# https://koa-project-ts.vercel.app/
[submodule "javascript/hapi_/hapijs_vercel"]
	path = javascript/hapi_/hapijs_vercel
	url = https://github.com/sreegithub19/hapijs_vercel.git
	branch = main
	# https://hapijs-vercel.vercel.app/
[submodule "Python/python_server_/python_server"]
	path = Python/python_server_/python_server
	url = https://github.com/sreegithub19/python_server.git
	branch = main
	# https://python-server-beta.vercel.app/api
[submodule "javascript/node_/node_server"]
	path = javascript/node_/node_server
	url = https://github.com/sreegithub19/node_server.git
	branch = main
	# https://node-server-self.vercel.app/
[submodule "javascript/brunch_/brunch"]
	path = javascript/brunch_/brunch
	url = https://github.com/sreegithub19/brunch.git
	branch = main
	# http://brunch-alpha-sooty.vercel.app/
[submodule "javascript/stencil_/stencil"]
	path = javascript/stencil_/stencil
	url = https://github.com/sreegithub19/stencil.git
	branch = main
	# http://stencil-pink-xi.vercel.app/
[submodule "javascript/umijs_/umijs"]
	path = javascript/umijs_/umijs
	url = https://github.com/sreegithub19/umijs.git
	branch = main
	# http://umijs-smoky-nu.vercel.app/
[submodule "javascript/ember_/ember"]
	path = javascript/ember_/ember
	url = https://github.com/sreegithub19/ember.git
	branch = main
	# http://ember-omega-seven.vercel.app/
[submodule "javascript/svelte_/svelte"]
	path = javascript/svelte_/svelte
	url = https://github.com/sreegithub19/svelte.git
	branch = main
	# http://svelte-one-topaz.vercel.app/
[submodule "javascript/gatsby_/gatsby"]
	path = javascript/gatsby_/gatsby
	url = https://github.com/sreegithub19/gatsby.git
	branch = main
	# http://gatsby-three-kohl.vercel.app/
[submodule "javascript/remix_/remix"]
	path = javascript/remix_/remix
	url = https://github.com/sreegithub19/remix.git
	branch = main
	# http://remix-delta-eight.vercel.app/
[submodule "javascript/backbone_/backbone_vercel"]
	path = javascript/backbone_/backbone_vercel
	url = https://github.com/sreegithub19/backbone_vercel.git
	branch = main
	# https://backbone-vercel.vercel.app/
[submodule "javascript/knockout_/knockout_vercel"]
	path = javascript/knockout_/knockout_vercel
	url = https://github.com/sreegithub19/knockout_vercel.git
	branch = main
	# https://knockout-vercel.vercel.app/
[submodule "typescript/ts_node_server/ts_node_server"]
	path = typescript/ts_node_server/ts_node_server
	url = https://github.com/sreegithub19/ts_node_server.git
	branch = main
	# https://ts-node-server.vercel.app/
[submodule "typescript/express_/ts_express_vercel_app"]
	path = typescript/express_/ts_express_vercel_app
	url = https://github.com/sreegithub19/ts_express_vercel_app.git
	branch = main
	# https://ts-express-vercel-app.vercel.app/
[submodule "typescript/nest_/nestjs_js"]
	path = typescript/nest_/nestjs_js
	url = https://github.com/sreegithub19/nestjs_js.git
	branch = main
	# https://nestjs-js.vercel.app/
[submodule "golang/golang_/golang_vercel"]
	path = golang/golang_/golang_vercel
	url = https://github.com/sreegithub19/golang_vercel.git
	branch = main
	# https://golang-vercel-ten.vercel.app/api/applications
[submodule "typescript/qwik_/qwik-app"]
	path = typescript/qwik_/qwik-app
	url = https://github.com/sreegithub19/qwik-app.git
	branch = main
	# https://wondrous-stardust-ebf056.netlify.app/
	###
	#Video:
	#Part 1:https://user-images.githubusercontent.com/55496113/222214793-eb4bc76b-69c1-4125-b016-be74299b1f6e.mp4
	#Part 2:https://user-images.githubusercontent.com/55496113/222214804-ec596fdc-2159-4760-8079-684bfc664960.mp4
	#Part 3:https://user-images.githubusercontent.com/55496113/222214813-b632c398-4dac-48ea-a477-67a6732f24d1.mp4
	###
[submodule "typescript/nest_/nestjs_tsx"]
	path = typescript/nest_/nestjs_tsx
	url = https://github.com/sreegithub19/nestjs_tsx.git
	branch = main
	# https://nest-tsx.vercel.app/
# Login issues, and requires paid subscription
[submodule "Python/flask_/flask_pythonanywhere"]
	path = Python/flask_/flask_pythonanywhere
	url = https://github.com/sreegithub19/flask_pythonanywhere.git
	branch = main
	# https://sree8pythonanywhere.pythonanywhere.com/
[submodule "Python/fastapi_/fastapi_python"]
	path = Python/fastapi_/fastapi_python
	url = https://github.com/sreegithub19/fastapi_python.git
	branch = main
	# https://fastapi-python.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/219962220-89d63a90-639e-437a-a44d-0ad6dcda5c02.mp4
[submodule "javascript/graphql_/apollo_graphql"]
	path = javascript/graphql_/apollo_graphql
	url = https://github.com/sreegithub19/apollo_graphql.git
	branch = main
	# https://apollo-graphql.vercel.app/applications
[submodule "typescript/solid_/solid_ts/solid_app"]
	path = typescript/solid_/solid_ts/solid_app
	url = https://github.com/sreegithub19/solid_app.git
	branch = typescript
	# https://solid-c3aqyyctd-sreegithub19.vercel.app/
	# #Video: https://user-images.githubusercontent.com/55496113/222207821-6a9d94c2-6f16-4043-83a0-8502ea9956e5.mp4
[submodule "credentials_/credentials"]
	path = credentials_/credentials
	url = https://github.com/sreegithub19/credentials.git
	branch = main
[submodule "javascript/nuxt_/nuxtjs-boilerplate"]
	path = javascript/nuxt_/nuxtjs-boilerplate
	url = https://github.com/sreegithub19/nuxtjs-boilerplate.git
	branch = main
	# https://nuxtjs-boilerplate-weld-eight.vercel.app/
[submodule "javascript/redwood_/netlify-deploy"]
	path = javascript/redwood_/netlify-deploy
	url = https://github.com/sreegithub19/netlify-deploy.git
	branch = master
	# https://astounding-quokka-827299.netlify.app/
[submodule "javascript/adonis/serverless-adonis"]
	path = javascript/adonis/serverless-adonis
	url = https://github.com/sreegithub19/serverless-adonis.git
	branch = master
	# https://serverless-adonis-three.vercel.app/
[submodule "typescript/redwood_/netlify-deploy"]
	path = typescript/redwood_/netlify-deploy
	url = https://github.com/sreegithub19/netlify-deploy.git
	branch = typescript
	# https://papaya-madeleine-bae90b.netlify.app/
[submodule "typescript/adonis_/serverless-adonis"]
	path = typescript/adonis_/serverless-adonis
	url = https://github.com/sreegithub19/serverless-adonis.git
	branch = typescript
	# https://serverless-adonis-ts.vercel.app/
[submodule "javascript/next_/nextjs_project"]
	path = javascript/next_/nextjs_project
	url = https://github.com/sreegithub19/nextjs_project.git
	branch = main
	# Related pages:
		# https://nextjs-project-39d2.vercel.app/
		# https://nextjs-project-39d2.vercel.app/hello
		# https://nextjs-project-39d2.vercel.app/api/py (Python project)
[submodule "typescript/adonis_/serverless-adonis-ts"]
	path = typescript/adonis_/serverless-adonis-ts
	url = https://github.com/sreegithub19/serverless-adonis-ts.git
	branch = main
	# https://serverless-adonis-ts-1.vercel.app/
[submodule "javascript/stackblitz_/angular_nest_stackblitz"]
	path = javascript/stackblitz_/angular_nest_stackblitz
	url = https://github.com/sreegithub19/angular_nest_stackblitz.git
	branch = main
	# https://stackblitz.com/edit/mugifly-angular-nest-kwtvtl   (open in Firefox)
	# App link in Stackblitz : https://mugiflyangularnestkwtvtl-5crd--3000--7259293c.local-credentialless.webcontainer.io
[submodule "javascript/stackblitz_/nx_react_nestjs_graphql"]
	path = javascript/stackblitz_/nx_react_nestjs_graphql
	url = https://github.com/sreegithub19/nx_react_nestjs_graphql.git
	branch = main
	# https://stackblitz.com/edit/github-yzwzpi-gskgfp?file=README.md    (open in Firefox)
	# Backend App link in Stackblitz :  https://githubyzwzpigskgfp-owch--3333--7259293c.local-credentialless.webcontainer.io/api/applications
	# Frontend App link in Stackblitz : https://githubyzwzpigskgfp-owch--4200--7259293c.local-credentialless.webcontainer.io/
[submodule "javascript/nx_/nx-monorepo"]
	path = javascript/nx_/nx-monorepo
	url = https://github.com/sreegithub19/nx-monorepo.git
	branch = main
	# https://nx-monorepo-rouge-ten.vercel.app/
[submodule "javascript/next_/nextjs-fastapi-starter-1"]
	path = javascript/next_/nextjs-fastapi-starter-1
	url = https://github.com/sreegithub19/nextjs-fastapi-starter-1.git
	branch = main
	# https://nextjs-fastapi-starter-1.vercel.app/api/python
[submodule "resumes"]
	path = resumes
	url = https://github.com/sreegithub19/resumes.git
	branch = main
[submodule "gate"]
	path = gate
	url = https://github.com/sreegithub19/gate.git
	branch = main
[submodule "profiles"]
	path = profiles
	url = https://github.com/sreegithub19/profiles.git
	branch = main
[submodule "javascript/codeforces_web"]
	path = javascript/codeforces_web
	url = https://github.com/sreegithub19/codeforces_web.git
	branch = main
[submodule "javascript/codeforces_script"]
	path = javascript/codeforces_script
	url = https://github.com/sreegithub19/codeforces_script.git
	branch = main
[submodule "javascript/java_embed/codeforces_script"]
	path = javascript/java_embed/codeforces_script
	url = https://github.com/sreegithub19/codeforces_script.git
	branch = java_
[submodule "java/codeforces_script"]
	path = java/codeforces_script
	url = https://github.com/sreegithub19/codeforces_script.git
	branch = javac_
[submodule "java/test-swing11"]
	path = java/test-swing11
	url = https://github.com/sreegithub19/test-swing11.git
	branch = master
[submodule "java/java_web/test-swing11"]
	path = java/java_web/test-swing11
	url = https://github.com/sreegithub19/test-swing11.git
	branch = gh-pages
[submodule "kotlin/codeforces_script"]
	path = kotlin/codeforces_script
	url = https://github.com/sreegithub19/codeforces_script.git
	branch = kotlin1_
